
.card-spacing {
  margin: 5% 30px !important;
}
.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card-heading {
  font-size: 25px;
  font-weight: 500;
}
.icon-size {
  height: 70px;
  width: 70px;
}
.my-services-icon-style {
  width: 100% !important;
  height: 100%;
  color: "yellow";
}
.card-color {
  &:hover {
    background-color: "yellow"!important;
    color: "yellow" !important;
  }
}
.card-color-two {
  &:hover {
    background-color: "yellow" !important;
    color: "yellow" !important;
  }
}
.skill-heading-container {
  max-height: 90px;
  overflow: scroll;
  overflow-x: hidden;
}



.top-bar-container {
  background-color: "white";
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 9999;
}

.top-bar-item {
  display: flex;
  justify-content: center;
  height: 100%;
}
.mobile-top-bar-item {
  display: flex;
  justify-content: center;
  height: 100%;
  border-bottom: 0.5px solid gray;
}
.item-btn {
  height: 100%;
  width: 100%;
  color: "white";
}
.top-bar-text {
  color: "#6b6f82";
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
.top-bar-text-mobile {
  color: "white";
}
.top-bar-link {
  height: 100%;
  width: 100%;
}
.mobile-button-container {
  display: flex;
  justify-content: flex-end;
}
.mobile-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: "white";
}
.mobile-top-bar-icon {
  height: 28px;
  width: 26px;
  color: "white";
}
.mobile-top-bar-link {
  height: 50px;
  width: 100%;
}